<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CompanyDepartmentEmployeeEntities" connectionString="metadata=res://*/CompanyDepartmentEmployeeDataModel.csdl|res://*/CompanyDepartmentEmployeeDataModel.ssdl|res://*/CompanyDepartmentEmployeeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ES61O3S;initial catalog=CompanyDepartmentEmployee;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>