<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CompanyDepartmentEmployeeEntities" connectionString="metadata=res://*/CompantDepartmentEmployeeDataModel.csdl|res://*/CompantDepartmentEmployeeDataModel.ssdl|res://*/CompantDepartmentEmployeeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cdedb.database.windows.net;initial catalog=CompanyDepartmentEmployee;user id=Alexandr;password=Sasha1995k;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>